:root {
    --black: #000000;
    --navy: #14213D;
    --sand: #FCA311;
    --french-grey: #E5E5E5;
    --white: #FFFFFF;
}


/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    background-color: var(--french-grey);
    color: var(--french-grey);
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.team-heading {
    background-color: var(--navy);
    color: var(--french-grey);
}

.employee-card {
    width: 300px;
    margin: 8px;
}

.card-header {
    background-color: var(--navy);
    color: var(--french-grey);
}

.card-title {
    font-size: 28px;
}

.card-body {
    background-color: var(--sand);
}

.list-group-item {
    background-color: var(--french-grey);
    color: var(--navy);
}

footer {
    background-color: var(--navy);
    color: var(--french-grey);
}