<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 jumbotron mb-3 team-heading">
                <h1 class="text-center">My Team</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="team-area col-12 d-flex justify-content-center flex-wrap">
                {{ team }}
            </div>
        </div>
    </div>
    <footer id="footer-container">
        <!-- Your name -->
        <!-- Basic contact information -->
        <!-- Links to your social media (at least LinkedIn and GitHub) -->
        <!-- Your location (City, State) -->
        <!-- A link to your resume -->
        <label id="phone-number" class="phone-number">Phone: <span>0406 253 030</span></label>
        <label id="email-address" class="email-address">Email: <span>tmhaigh@gmail.com</span></label>

        <div>
            <a class="links-div-anchor" href="https://www.linkedin.com/in/thomas-haigh-5960b81aa/" target="_blank">
                <i class="fab fa-linkedin font-awesome"></i>
            </a>
            <a class="links-div-anchor" href="https://github.com/Conanas" target="_blank">
                <i class="fab fa-github font-awesome"></i>
            </a>
        </div>

        <label>Location: Melbourne, Victoria, Australia</label>
    </footer>
</body>

</html>